body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0 20px;
  color: #333;
}
header {
  text-align: center;
  margin-top: 40px;
}
h1 {
  font-size: 2.8em;
  margin-bottom: 0;
}
h2 {
  color: #0073e6;
  margin-top: 40px;
}
a {
  color: #0073e6;
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  margin-bottom: 6px;
}
