body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #fdfdfd;
  color: #333;
}

header {
  background-color: #0f172a;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

header p {
  margin: 5px 0 10px;
  font-size: 1em;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

section {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

h2 {
  border-bottom: 2px solid #0073e6;
  padding-bottom: 5px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

.job, .project {
  margin-bottom: 20px;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #0f172a;
  color: #fff;
}
.project-img {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 10px auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.project-img:hover {
  transform: scale(1.05);
}

.project a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #0073e6;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.project a:hover {
  background-color: #005bb5;
}

